body {
    background-color: lightgray;
}

img {
    width: 200px;
    height: 200px;
}

.wins-losses {
    border-width: 2.5px;
    border-style: solid;
    background-color: white;
    width: 100px;
    padding-left: 10px;
    font-family: "Cherry Swash", cursive; 
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    grid-column: span 6;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.total-score {
    border-width: 2.5px;
    border-style: solid;
    background-color: white;
    width: 250px;
    padding-left: 10px;
    font-family: "Cherry Swash", cursive;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    margin: 0 auto;
}

.init-num {
    border-width: 2.5px;
    border-style: solid;
    background-color: white;
    width: 350px;
    padding-left: 10px;
    font-family: "Cherry Swash", cursive;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    grid-column: span 6;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 7.5px;


}

.game-description {
    border-width: 2.5px;
    border-style: solid;
    background-color: white;
    width: 1050px;
    padding-left: 10px;
    font-family: "Cherry Swash", cursive;
    box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    margin: 0 auto;
}

#crystals {
    border-width: 2.5px;
    padding-top: 5px;
    padding-left: 5px;
    border-style: solid;
    background-color: white;
    width: 810px;
    box-shadow: inset 0 0  10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow:  inset 0 0 10px #000000;
    margin: 0 auto;
}

.site-name {
    border-width: 2.5px;
    padding-top: 5px;
    padding-left: 10px;
    font-family: "Cherry Swash", cursive;
    border-style: solid;
    background-color: white;
    width: 265px;
    box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow:  inset 0 0 10px #000000;
    font-weight: bold;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 775px;
    margin: 0 auto;
    padding-left: 250px;
}

@media only screen and (max-width: 980px) {
    .game-description, #crystals {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .game-description, #crystals {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .game-description, #crystals  {
        width: 100%;
    } 
}